
/* Style Général */

body {
	margin: 0;
	background: #fff;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
	/* ecart ligne texte*/
	text-align: center;
	/*aligne largeur*/
}

p {
	font-size: medium;
	font-family: 'Comfortaa', cursive;
}

h2{
	font-family: 'Bebas Neue';
}

.fleur {
	background-image: url("/img/fleur.png");
	background-size: cover;
	/*elle couvre l'arrière. elle reste reste dans le cadre*/
	height: 600px;
	/*hauteur du background*/
}

nav {
	/*controle tous les liens*/  
	display: flex; 
	/*élements alignés en largeur*/ 
	flex-flow: row wrap;
	/*il agit en conteneur suite element reprend à la ligne en petit*/
	justify-content: center;
	/*aligne en hauteur*/
	align-items: center;
	/*aligne en largeur*/
}
#onglet {
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: center;
	align-self: center;
}

#onglet>a {
	/*gère les liens*/

	padding-left: 20px;
	/*marge interieure*/
	padding-right: 20px;
	padding-bottom: -20%;
	font-family: 'Comfortaa', cursive;
	color: #F5EEE8;
	text-decoration: none;
	/*pas de lien souligné*/
	padding: 2em;
	/*marge haut droite bas gauche*/
}

#reseaux {
	/*placement des liens réseaux*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
#reseaux {
	grid-row-start: 3;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

#liens_btn {
	color: white;
	text-decoration: none;
	/*pas de lien souligné*/
}

.image_reseaux {
	/*taille icones*/
	width: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.content-wrap1 {
	/*tout le contenu de la bannière*/
	height: 600px;
	display: grid;
	/*agence object en grid*/
	grid-template-columns: 1fr;
	/*une colones*/
	grid-template-rows: 1fr 1fr 1fr;
	/*ligne horizon*/
}

.content-wrap1>h1 {
	/*H1*/
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: center;
	align-self: start;
	font-family: 'Bebas Neue';
	font-size: 5em;
}

/* Style de la Section A */

#section-a {
	/*texte + video*/
	background: #000;
	color: #F5EEE8;
	padding: 2em;
}

video {
	width: 100%;
}

/* Style de la Section B (Liste de Cartes) */

#section-b {
	background-color: #000;
	padding: 2em 1em;
}

#section-b ul {
	/*ul=liste li=objet dans ul*/
	background-color: #000;
	list-style: none;
	margin: 0;
	padding: 0;
}

#section-b li {
	margin-bottom: 1em;
	/*marge exterieur en bas*/ 
	background: #fff;
	color: #333;
}

.card img {
	display: block;
	/*nouvelle ligne largeur*/
	width: 100%;
	height: auto;
	/*par rapport à la hauteur de l'écran*/
}

.card-content {
	padding: 1.5em;
	/*texte interieur*/
}

/* Style de la Section C */

#section-c {
	background-image: url("/img/foret-noir.png");/**/
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding: 2em;
}

#section-c .image {
	background-image: url("/img/moi_feuillr.jpg");
	background-size: cover;
	background-position: bottom;
	margin: auto;
	border-radius: 20px;
	height: 350px;
	width: 100%;
}

/* Style de la Section D */

#section-d .box {
	padding: 2em;
	color:#F5EEE8;
	text-align: justify;
	text-justify: inter-word;
}

#section-d .box:first-child {
	background: #8D3D27;
}

/* Bas de page (Footer) */

#main-footer {
	padding: 2em;
	background: #000;
	color:#F5EEE8;
	text-align: center;
}

#main-footer a {
	color: #8D3D27;
	text-decoration: none;
}
/*GALERIE***********************************/
/* PHOTOS */
#photo {
	max-width: 100%;
	margin: auto;
	padding: 2rem 0;
}

#galerie {
    display: flex;
    flex-direction: column;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#galerie img {
	flex: 1 1 auto;
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 130px;
	margin: 0.5rem;
	object-fit: cover;
	border-radius: 5px;
	transform: scale(1);
	transition: transform 1s;
}

#galerie img:hover {
	transform-origin: 50% 50%;
	transform: scale(2);
	border-radius: 5px;
	box-shadow: none;
}
/* FIN PHOTOS *********************************/


/* Media Query - Ce qui permet de switcher entre les affichages mobile et pc */

@media(min-width: 360px) {
	/*petit téléphone*/
    /*home*/
	#section-c .image {
		width: 350px;
		min-width: 350px;
		/*fin home*/
	}
}

@media(min-width: 640px) {
	/*tablette*/
    /*home*/
	#section-a .content-text p {
		padding-top: 0;
	}
	.content-wrap, #section-b ul {
		grid-column: 2/4;
	}
	#section-b ul {
		display: flex;
		justify-content: space-around;
	}
	#section-b li {
		width: 31%;
	}
	.box, #main-footer div {
		grid-column: span 2;
		/*fin home*/
	}
}

@media (min-width: 875px) {
	/*ecrant ordinateur grand*/
	/*home*/
	.content-wrap>h1 {
		font-size: 6em;
	}
	.image_reseaux {
		width: 60px;
	}
	#section-a {
		display: flex;
		align-items: center;
	}
	#section-a .video-wrap {
		width: 50%;
		margin-left: 2em;
	}
	#section-a .content-wrap {
		width: 50%;
	}
	#section-c {
		flex-direction: row-reverse;
	}
	#section-c .image {
		margin-right: 2em;
	}
	#section-c .content-wrap {
		text-align: right;
	}
	#section-c .underline::after {
		content: "";
		display: inline-block;
		border-top-style: solid;
		border-top-width: 4px;
		width: 4rem;
		/*fin home*/

	}
}